.template__carrito{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: .3rem;
}

.container-cart{
    background-color: #fff;
    grid-column: 1 / 2;
    height: auto;
    margin: 15px;
    border-radius: 5px;
}

.cart{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
    border-bottom: solid rgb(189, 189, 189) 1.5px;
}

.producto__imagen{
    width: 200px;
    height: 150px;
    margin-top: 25%;
}

.value{
    margin: 1%;
}

.text-cart{
    width: 40%;  
}

.text-cart > h1, span, label, button{
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
}

.cantidad{
    display: flex;
}

.container-aside{
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / 3;
    margin: 15px 15px 15px 0;
}

.aside-sub {
    width: auto;
    height: 100px;
    padding: 15px 5px;
    margin: 0 5px;
    font-style: italic;
    background-color: #fff;
    border-radius: 5px;
}

.aside-products {
    width: auto;
    height: auto;
    padding: 15px 5px;
    margin: 15px 5px;
    font-style: italic;
    background-color: #fff;
    
}

.text-cart-product{
    display: flex;
    padding: 10px;
    
}

.img-aside{
    width: 150px;
    height: 150px;
    margin-right: 0;
    margin-top: 8px;
}

button{
    border: none;
    padding: 5px;
    background-color: #3700ff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: large;
    letter-spacing: 1px;
}

button:hover{
    background-color: #3700ff80;
}

@media only screen and (max-width: 871px) {
    .cart{
        text-align: center;
        display: block;
        width: auto;
        margin: 10px;
    }

    .producto__imagen{
        margin-top: 10px;
    }

    .text-cart{
        width: auto;
    }

    .boton{
        justify-items: center;
    }

    .cantidad{
        justify-content: center;
    }
}